{% extends 'accounts/main.html' %}
{% load static %}
{% block content  %}

<style>
    .profile-pic{
        max-width: 200px;
        max-height: 200px;
        margin:  0 auto;
        border-radius: 50%;
    }
</style>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a href="btn btn-warning" class="btn btn-warning">Back to Profile</a>
            <hr>
            <h3 style="text-align: center;">accounts Settings</h3>
            <hr>
            <img src="" class="profile-pic" alt="">
        </div>
    </div>


    <div class="col-md-9">
        <div class="card card-body">
            <form action="" method="POST">
                <input type="submit" class="btn btn-primary" >
            </form>
        </div>
    </div>
</div>










{% endblock %}