{% extends 'accounts/main.html' %}


{% block content %}
{% include 'accounts/status.html' %}

<br>
<div class="row">
    <div class="col-md-5">
        <hr>
        <div class="card card-body">
            <a href="" class="btn btn-primary btn-sm btn-block">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th>Customer</th>
                    <th>Orders</th>
                </tr>
                {% for customer in customers  %}
                <tr>
                    <td><a href="{% url 'customer' customer.id %}">View </a></td>
                    <td>{{  customer.name }}</td>
                    <td>{{  customer.phone }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
              <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <td>note</td>
                    <th>Update</th>
                    <th>Remove</th>

                </tr>
               
                {% for order in orders  %}
                <tr>
                    <td>{{  order.product }}</td>
                    <td>{{  order.date_created }}</td>
                    <td>{{  order.status }}</td>
                    <td>{{  order.note }}</td>
                    <td><a href="{% url 'updateorder' order.id  %} " class="btn btn-sm btn-info">Update</a> </td>
                    <td><a href="{% url 'deleteorder' order.id  %} " class="btn btn-sm btn-info">Delete</a> </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock content %}